[submodule "emulation_stage/CC/Orca"]
	path = emulation_stage/CC/Orca
	url = https://github.com/Aruuni/Orca
[submodule "emulation_stage/CC/astraea-open-source"]
	path = emulation_stage/CC/astraea-open-source
	url = https://github.com/Aruuni/astraea-open-source
[submodule "emulation_stage/CC/PCC-Kernel"]
	path = emulation_stage/CC/PCC-Kernel
	url = https://github.com/PCCproject/PCC-Kernel
[submodule "emulation_stage/CC/sage"]
	path = emulation_stage/CC/sage
	url = https://github.com/Aruuni/sage
